.book-cover img, .additional-photo img, .modal, .modal .img-wrapper img, .author div img, .close-modal img{
    width: 100%;
}

.modal, .close-modal{
    position: fixed;
}

.date{
    margin-bottom: 30px;   
}

.book-cover, .additional-photo{
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 200px;
}

.book-cover img, .additional-photo img{
    height: auto;
}

.post-comments{
    display: none;
}

.post-comments form, .post-comments form div, .posted-comments, .author{
    display: flex;
}

.post-comments form, .post-comments form div, .posted-comments{
    flex-direction: column;
}

.post-comments form, .posted-comments{
    gap: 20px;
}

.author, .modal{
    align-items: center;
}

.post-comments form input{
    padding: 10px 5px;
}

.post-comments form button{
    margin-top: 10px;
}

.error{
    color: #F00;
}

.success{
    color: #060;
}

.posted-comments .comment{
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 20px;
}

.author{
    gap: 10px;
}

.author div{   
    width: 35px;
    height: 35px;
}

.modal{
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.80);
}

.modal .img-wrapper{
    text-align: center;
}

.modal .img-wrapper img{
    max-width: 80vw;
    max-height: 80vh;
}

.close-modal{
    top: 10px;
    right: 10px;
    padding: 10px;
}